<mat-accordion multi="true" *ngIf="posts.length">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ post.title }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>{{ post.content }}</p>
    <mat-action-row>
      <button mat-raised-button>
        EDIT
      </button>
      <button mat-raised-button>
        DELETE
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="text-info mat-body-1" *ngIf="!posts.length">No Posts</p>
